   img {
    width: 150px;
    height: 150px;
    }

    body {
    background-color:violet;
    font-family: Arial, sans-serif;
    }

    .container {
    display: flex;
    width: 80%;
    margin: 30px auto;
    background: white;

   }


   h1 {
   color: blue;
   margin-left: 30px;
   }

   b {
    color: gray;
    font-size: 14px;
    margin-left: 450px;
   }


   ul {
      color: gray;
      margin-left: 40px;
   }

   h3 {
    color: orange;
    margin-left: 30px;
   }
