    img {
    width: 150px;
    height: 150px;
    }

    body {
    background-color:grey;
    font-family: Arial, sans-serif;
    }

    .container {
    display: flex;
    width: 80%;
    margin: 30px auto;
    background: white;

   }


   h1 {
   color: rgb(83, 52, 52);
   margin-left: 30px;
   }

   b {
    color: gray;
    font-size: 14px;
    margin-left: 450px;
   }


   ul {
      color: black;
      margin-left: 40px;
   }

   h3 {
    color: rgb(44, 153, 255);
    margin-left: 30px;
   }

   .dark-mode {
background-color: black;
color: white;
margin-top: 0%;
}
