   img {

    width: 150px;
    height: 150px;
    margin-top: 20px;

    }

  

    h1 {
    
    color: black;


    }

    h3 {

    color: blue;

    }

    body {

    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    
    }
